*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html,body{
    height: 100%;

}
main{
    padding: 5%;
}
header{
    box-shadow: 0 -2px 10px black;
    padding: 20px;
    padding: 16px 24px; 
    display: flex; 
    
 
  
   
}
header span {
    display: flex;
     top: 1%;
    left: 80px;
 
}
.container{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
 
  
 
  

.logo{
 display:flex;
 
 
 
}
.logo img{
   padding: 10px;


}
.container span{
   font-size: 14px;
 
}


.menu img{
   margin-top:10px;
   margin-left: 150px;
   
}

.banner img{
    padding-top: 10px;
    width: 100%;
    padding:2%;
 
}

.principal{
    margin-top: 10px;
   
   
    
}
.principal1{
margin-bottom: 20px;
background-color: #eee;
}
.principal2{
    background-color:#eee;
}
.principal > article {
    margin:20px;
  
    
  
}
.principal img{
    width: 100%;
    margin-bottom: 15px;
    padding: 2%;

}
.principal p{
    padding: 4% 4%;
    margin-bottom: 10px;
}

 .principal button{
    border-radius: 40%;
    background-color: green;
    color:white;
    padding:5px;
    cursor:pointer;
 }
 .principal span{
    font-size: 24px;
    padding-left: 11.25px;
    font-weight: bold;
    
 }

 .principal button{
    float:right;
    padding: 0 3%;
    margin-right: 20px;
    font-size: 18px;
 }


 h2{
    text-align: center;
    margin: 20px ;
 }
 .secundaria img{
    width: 100%;
    border-radius: 5px;
 }
 form input{
    display:block;
    text-align:center;
    width:250px;
    margin:10px auto;
   

  }
textarea{
margin-left:10%;
 margin-top:20px;
 padding:50px;
 resize: none;
}
form button{
    margin-left:140px;
    margin-top:15px;
    cursor:pointer;
    margin-bottom: 15px;
    background-color: #dc9730;
    padding:5px;
    border:none;
    color:white;
    
   }
   footer{
    display:flex;
    line-height: 25px;
   }
   .box{
    display: flex;
    width: 100%;
   }

.box iframe{
   width: 150px;
   height: 150px;
   margin:20px;
   border-radius: 25%;
}
.box{
    background-color: rgba(0, 0, 0, 0.8);
   
}
.box p{
    color:white;
   margin-top:10%;
  
}

.box img{
    padding-top:10px;
    margin:0 10px;
  
}
.box a{
    text-decoration: none;
}

@media(min-width:1280px){
    textarea{
        margin-left: 38%;
    }
    form button{
        display: block;
        margin: 20px auto;
    }
    form input{
        width:30%;
    }
    .principal img{
        width:500px;
        height: 350px;
    }
    .principal{
        display:flex;
        
        
       
    }
}



























