*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
}
main{
    padding: 5%;
}
header{
    box-shadow: 0 -2px 10px black;
    padding: 20px;
    padding: 16px 24px; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
 
  
   
}
.container {
  display: flex;
  
 
  
}
.logo img{
   padding: 10px;
}
.container span{
   font-size: 14px;
 
}

.menu img{
    margin-left: 150px;
    margin-top:10px;
   
}

.banner img{
    padding-top: 10px;
    width: 100%;
    padding:2%;
 
}

.principal{
    background-color: #eeeeee;
    margin-top: 10px;
    
}
.principal img{
    width: 100%;
    margin-bottom: 15px;
    padding: 2%;

}
.principal p{
    padding: 4% 4%;
    margin-bottom: 10px;
}

 .principal button{
    border-radius: 40%;
    background-color: green;
    color:white;
    padding:5px;
    cursor:pointer;
 }
 .principal span{
    font-size: 24px;
    padding-left: 11.25px;
    font-weight: bold;
    
 }

 .principal button{
    float:right;
    padding: 0 3%;
    margin-right: 20px;
    font-size: 18px;
 }


 h2{
    text-align: center;
    margin: 20px ;
 }
 .secundaria img{
    width: 100%;
 }
 form input{
    display:block;
    text-align:center;
    width:250px;
    margin:10px auto;
   

  }
textarea{
margin-left: 40px;
 margin-top:20px;
 padding:50px;
}
form button{
    margin-left:140px;
    margin-top:15px;
    cursor:pointer;
    margin-bottom: 15px;
   }
   footer{
    display:flex;
   }
   .box{
    display: flex;
   }

.box iframe{
   width: 150px;
   height: 150px;
   margin:20px;
   border-radius: 25%;
}
.box{
    background-color: rgba(0, 0, 0, 0.8);
   
}
.box p{
    color:white;
   margin-top:10%;
  
}

@media(min-width:320px){
    .menu a{
       margin-left:100px
    }
   textarea{
    margin-left:77px
   }
 form button{
  margin-left:180px 
 }
}













